<div class="panel">
    <div class="container">
        <div class="row">
            <form>
            <label>Search Your Table</label>
                <input ng-model="searchValue"></input>
            </form>
            <!-- <button type="submit" class="btn btn-primary">Submit query</button> -->
        </div>
    </div>

    <div class="container">
        <br>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="(_key_, _value_) in queryResult[0] track by $index">
                            <input placeholder="{{_key_}}" ng-model='newColumnName' type="text" class="form-control">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in queryResult track by $index" ng-show="qFilter(searchValue, row)">
                        <td ng-show="showDelete">
                            <input type="checkbox" ng-model="row.selected" ng-click="uncheckSelectAll(instanceArray)">
                            <button type="button" ng-click="removeRow(theDbName, theTableName, row[0])" class="btn btn-sm btn-danger">x</button>
                        </td>
                        <!-- <td ng-show="row.values[0].display">{{row.values[0].value}}</td> -->
                        <td ng-repeat="(_key_, _value_) in row track by $index">
                            <input placeholder="{{_value_}}" ng-model='newCell' type="text">
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button ng-if="colValsToUpdate.length > 0 || rowValsToUpdate.length > 0" ng-click="updateBackend()" type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-danger" ng-click="deleteDb()">Delete table</button>
        </div>
    </div>
</div>