<!-- <pre> {{singleTable | json}} </pre> -->
<!-- <div>{{columns}}</div><br> -->
<!-- <div>{{theDbName}}</div><br> -->
<!-- <div>{{allTables}}</div><br> -->
<!-- <div>{{theTableName}}</div><br> -->
<!-- <pre> {{tablesToQuery| json}} </pre> -->
<!-- <pre> {{queryResult | json}} </pre> -->
<div class="page-container">
    <div ng-hide="$state.includes('Table.Single.query')" class="panel">
        <div class="panel-heading">
            <h4>Query Data On Associated Tables</h4>
        </div>
        <div class="panel-body">
            <form ng-submit="getColumnsForTable()" ng-model="select">
                <strong>Select Tables</strong>
                <button type="submit" class="btn btn-icon btn-white btn-sm">+</button>
                <div>
                <label class="checkbox-inline" ng-repeat="table in currentTableAssociations track by $index">
                    <input value="table" ng-model="select.table1" ng-click="getAssociated($index)" type="checkbox"> {{table}}
                </label>
                </div>
            </form>
            <form ng-if="columnsForQuery.length" ng-submit="runJoin()" ng-model="query">
                <div ng-repeat="column in columnsForQuery" class="checkbox">
                    <strong>Select Columns from {{column.tableName}}</strong>
                    <div class="query">
                        <label class="checkbox-inline" ng-repeat="name in column.columns track by $index">
                            <input ng-click="getDataFromColumns({tableName:column.tableName, i: $index})" value="col" ng-model="query.column" type="checkbox"> {{name}}
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="panel" ng-hide="$state.includes('Table.Single.query')">
        <div class="panel-headi">
            <div class="row">
                <form ng-model="data" ng-submit="filter(currentTable.dbName, currentTable.tableName, data)">
                    <span>Filter {{currentTable.tableName}} where</span>
                    <select ng-model="data.column">
                        <option ng-repeat="column in columns">{{ column }}</option>
                    </select>
                    <select ng-model="data.comparator">
                        <option>=</option>
                        <option>
                            <</option>
                                <option>></option>
                                <option>
                                    <=</option>
                                        <option>>=</option>
                                        <option>
                                            <>
                                        </option>
                    </select>
                    <input ng-model="data.value">
                    <button type="submit" class="btn btn-primary">Submit query</button>
                    <button type="submit" class="btn btn-primary" ng-click="csv(singleTable)">Download CSV</button>
                </form>
            </div>
        </div>
        <div>
            <div class="row">
                <button ng-click="toggleDelete()" type="submit" class="btn btn-primary">Delete Mode</button>
                <button ng-click="newRow(theDbName, theTableName, instanceArray)" type="submit" class="btn btn-default">Add Row</button>
                <button ng-click="addColumn(theDbName, theTableName)" type="submit" class="btn btn-default">Add Column</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                    <table class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                        <thead>
                            <tr>
                                <th ng-show="showDelete">
                                    <button type="button" class="btn btn-danger" ng-click="deleteSelected(theDbName, theTableName, instanceArray)">Delete Selected</button>
                                    <label> Select All
                                        <input type="checkbox" ng-model="selectedAll" ng-click="selectAll(instanceArray)">
                                    </label>
                                </th>
                                <th style="width:30px">id</th>
                                <th ng-repeat="column in columns track by $index" ng-if="$index >= myIndex" tabindex="0" rowspan="1" colspan="1">
                                    <input placeholder="{{column}}" ng-model='newColumnName' type="text" class="form-control" ng-keyup="updateColumns(column, newColumnName, $index)">
                                    <button ng-if="showDelete" type="button" ng-click="removeColumn(theDbName, theTableName, column)" class="btn btn-sm btn-danger">x</button>
                                </th>
                                <th ng-show="virtualColumns" ng-repeat="vcolumn in virtualColumns">
                                    <p>{{ vcolumn.name }}
                                    </p>
                                </th>
                                <th>
                                    <p ng-click="addColumn(theDbName, theTableName)" class='glyphicon glyphicon-plus'></p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in filteredRows">
                                <td ng-show="showDelete">
                                    <input type="checkbox" ng-model="row.selected" ng-click="uncheckSelectAll(instanceArray)">
                                    <button type="button" ng-click="removeRow(theDbName, theTableName, row['values'][0]['value'], instanceArray)" class="btn btn-sm btn-danger">x</button>
                                </td>
                                <td>{{row.values[0].value}}</td>
                                <td ng-repeat="value in row.values track by $index" ng-if="$index >= myIndex">
                                    <input placeholder="{{value.value}}" ng-model='newCell' type="text" ng-keyup="updateRow(value, newCell, row, row.values[0].value, $index)">
                                    <button class="glyphicon glyphicon-th" ng-if="checkForeign(value.col)" ng-click="open(theDbName, foreignCols[value.col], value.col, row.values[0].value)"></button>
                                </td>
                                <td ng-show="virtualColumns" ng-repeat="vcolumn in virtualColumns">
                                    <a ui-sref="Table.Join({rowId:row.values[0].value, dbName: dbName, tableName: vcolumn.table, key: vcolumn.columnkey })">{{vcolumn.name}}</a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <pagination ng-model="currentPage" total-items="instanceArray.length" max-size="maxSize" boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>
        <div class="row">
            <button ng-if="colValsToUpdate.length > 0 || rowValsToUpdate.length > 0" ng-click="updateBackend()" type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-danger" ng-click="deleteDb()">Delete table</button>
        </div>
    </div>
</div>
<ui-view></ui-view>
</div>
