<div class="container">
    <div class="row btn">
        <button ng-hide="$state.includes('Table.Single')" class="btn btn-default" ui-sref="Table.create">Add Table</button>
    </div>
</div>
<div class="container">
    <div class="row btn-toolbar">
        <button ng-hide="$state.includes('Table.Single')" ng-repeat="table in allTables.rows" ui-sref="Table.Single({tableName: table.table_name})" class="btn btn-default">
            {{table.table_name}}</button>
    </div>
</div>
<div class="container" ng-hide="$state.includes('Table.Single')">
    <div class="row">
        <form ng-model="association" ng-submit="makeAssociations(association, dbName)">
            <select ng-options="table as table.table_name for table in allTables.rows track by table.table_name" ng-model="association.table1">
            </select>
            <select ng-model="association.type" ng-options="association as association for association in associationTypes">
            </select>
            <select ng-options="table as table.table_name for table in allTables.rows track by table.table_name" ng-model="association.table2">
            </select>
            <div class="checkbox" ng-show="association.type === 'hasMany'">
                <label>
                    <input type="checkbox" ng-model="association.join"> Two Way Association
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Make association</button>
        </form>
    </div>

<!--     <div ng-controller="DeleteDBCtrl">
        <script type="text/ng-template" id="deleteDbContent.html">
            <div class="modal-header">
                <h3 class="modal-title">You are about to delete your database!</h3>
            </div>
            <div class="modal-body">
                Once you delete your database it cannot be undone. Type 'DROP DATABASE' to delete your database.
                <form name="deleteForm" novalidate> 

               <div class="form-group">
                   <input type="text" name="name" class="form-control" ng-model="formVal" required>
               </div>

            
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-disabled="formVal !== dropDatabase" ng-click="delete()">Delete</button>
                <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
            </div>
                   </form>

            </div>
        </script>

    </div> -->
<!--         <button type="button" class="btn btn-danger" ng-click="open()">Delete database</button> -->

<button class="btn btn-danger" type="button" ng-click="deleteTheDb()">Delete Db</button>
    

</div>
<ui-view></ui-view>
