<div class="main-content">
<div class="page-container">
    <div class="panel">
        <div class="panel-heading">
            <h3>Database Tables</h3>
        </div>
        <div class="row btn-toolbar">
            <div>
                <button ng-hide="$state.includes('Table.Single')" ng-repeat="table in allTables.rows" ui-sref="Table.Single({tableName: table.table_name})" class="btn btn-primary">
                    {{table.table_name}}</button>
            </div>
        </div>
        <div ng-controller="deleteDBCtrl">
            <script type="text/ng-template" id="deleteDBContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">You are about to delete your database!</h3>
                </div>
                <div class="modal-body">
                    Once you delete your database it cannot be undone. Type 'DROP DATABASE' to delete your database.
                    <form name="deleteForm" novalidate>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" ng-model="formVal" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" ng-disabled="formVal !== dropDbText" ng-click="deleteTheDb()">Delete</button>
                    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <button type="button" class="btn btn-danger" ng-click="open()">Delete database</button>
        </div>
    </div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <h3 class="addtable">Add a table to your database</h3>
            <span>
        <button ng-hide="$state.includes('Table.Single')" class="btn btn-default" ui-sref="Table.create"><span class="glyphicon glyphicon-th"></span></button>
            </span>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel">
        <h3 class="addtable">Set an association between your tables.</h3>
        <span>
        <button ng-hide="$state.includes('Table.Single')" class="btn btn-default" ui-sref="Table.setAssociation"><span class="glyphicon glyphicon-th"></span></button>
        </span>
        </div>
    </div>
</div>

<ui-view></ui-view>
</div>
</div>
