<pre> {{allColumns}} </pre>
<div class="container">
    <div class="row btn">
        <button ng-hide="$state.includes('Table.Single')" class="btn btn-default" ui-sref="Table.create">Add Table</button>
    </div>
</div>
<div class="container">
    <div class="row btn-toolbar">
        <button ng-hide="$state.includes('Table.Single')" ng-repeat="table in allTables.rows" ui-sref="Table.Single({tableName: table.table_name})" class="btn btn-default">
            {{table.table_name}}</button>
    </div>
</div>
<br>
<br>

<div>
  <form ng-model="query" ng-submit=""> 
    <span>Query your data !</span>
    <select ng-model="query.table1">
      <option ng-if="table.table_name !== associationTable" ng-repeat="table in allTables.rows">{{ table.table_name }}</option>
    </select>
    <select ng-model="query.condition">
      <option>WHERE</option>
      <option>WHERE NOT</option>
      <option>WHERE BETWEEN</option>
      <option>WHERE NOT BETWEEN</option>
    </select>
    <select ng-change="type()" ng-show="!wherebetween(query.condition)" ng-model="query.column">
      <option ng-show="column.table_name === query.table1" ng-repeat="column in allColumns">{{ column.column_name }}</option>
    </select>
    <select ng-change="type()" ng-show="wherebetween(query.condition)" ng-model="query.column">
      <option ng-show="column.table_name === query.table1 && column.data_type === 'integer' || column.data_type ==='float'" ng-repeat="column in allColumns">{{ column.column_name }}</option>
    </select>
    {{type}}
    <select ng-model="query.comparator">
      <option ng-hide="query.condition === 'WHERE BETWEEN' || query.condition === 'WHERE NOT BETWEEN'">=</option>
      <option ng-hide="type === 'boolean' || type === 'text'"><</option>
      <option ng-hide="type === 'boolean' || type === 'text'">></option>
      <option ng-hide="type === 'boolean' || type === 'text'"><=</option>
      <option ng-hide="type === 'boolean' || type === 'text'">>=</option>
      <option ng-hide="query.condition === 'WHERE BETWEEN' || query.condition === 'WHERE NOT BETWEEN'"><></option>
    </select>
    <input ng-model="query.input1"></input>
    <input ng-if="wherebetween(query.condition)" ng-model="query.input2"></input>
    <button type="submit" class="btn btn-primary">Submit query</button>
  </form>
</div>

<br>
<br>

<div class="container" ng-hide="$state.includes('Table.Single')">
    <div class="row">
        <form ng-model="association" ng-submit="makeAssociations(association, dbName)">
            <span>Table 1</span>
            <select ng-options="table as table.table_name for table in allTables.rows track by table.table_name" ng-model="association.table1">
            </select>
            <span>Table 2</span>
            <select ng-options="table as table.table_name for table in allTables.rows track by table.table_name" ng-model="association.table2">
            </select>
            <div>
            <span>Relation 1 --></span>
             <select ng-model="association.type1" ng-options="association as association for association in associationTypes">
            </select>
            <span>AS</span>
            <input ng-model="association.alias1">
            </div>
            <div>
            <span>Relation 2 <--</span>
             <select ng-model="association.type2" ng-options="association as association for association in associationTypes">
            </select>
            <span>AS</span>
            <input ng-model="association.alias2">
            </div>
            <div ng-show="association.type1 === 'hasMany' && association.type2 === 'hasMany'">
            	<span>Through:</span>
            	<input ng-model="association.through">
            </div>
            <button type="submit" class="btn btn-primary">Make association</button>
        </form>
    </div>
    
    <br>
    <br>




    <br>
    <br>

    <div ng-controller="deleteDBCtrl">
        <script type="text/ng-template" id="deleteDBContent.html">
            <div class="modal-header">
                <h3 class="modal-title">You are about to delete your database!</h3>
            </div>
            <div class="modal-body">
                Once you delete your database it cannot be undone. Type 'DROP DATABASE' to delete your database.
                <form name="deleteForm" novalidate> 

               <div class="form-group">
                   <input type="text" name="name" class="form-control" ng-model="formVal" required>
               </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-disabled="formVal !== dropDbText" ng-click="deleteTheDb()">Delete</button>
                <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button type="button" class="btn btn-danger" ng-click="open()">Delete database</button>

    </div>
</div>

<ui-view></ui-view>
