       <!-- <pre> {{associations | json }}</pre> -->
<!-- <pre> {{allTables | json }}</pre>
<pre> {{allColumns | json }}</pre>
<pre> {{columns| json }}</pre> -->
<!-- <pre> {{singleTable | json }}</pre> -->
<!-- <pre> {{tableName | json }}</pre> -->


        <div class="modal-header">
        <h3 class="modal-title">{{tableName}}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" style="width: 100%;">
            <thead>
                <tr>
                    <th ng-repeat="column in columns track by $index">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in instanceArray" ng-click="setSelected()" ng-class="{'active': currRow && currRow[0] === row[0]}">
                    <td ng-repeat="value in row track by $index">{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="currRow" ng-click="setForeignKey(dbName, tableName, rowId, currRow[0])">Set</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
