* {
  box-sizing: border-box;
}

.form-control {
	background-color: transparent;
    border: none;
  	box-shadow: none !important;
}

.add-column {
	width: 50px;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
