<form ng-model="db" ng-submit="createDB(db)">

  <fieldset class="form-group">
    <label for="exampleInputEmail1">Enter your database's name</label>
    <input ng-model="db.name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the database's name">
  </fieldset>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<br>

<form ng-if="createdDB" ng-model="table" ng-submit="createTable(table, createdDB)">

  <fieldset class="form-group">
    <label for="exampleInputEmail1">Enter your table's name</label>
    <input ng-model="table.name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the table's name">
  </fieldset>

  <fieldset class="form-group">
  <label for="exampleInputEmail1">Enter your column's name</label>
  <input ng-model="table.column1" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the column's name">
  </fieldset>

  <fieldset class="form-group">
  <label for="exampleInputEmail1">Enter your column's name</label>
  <input ng-model="table.column2" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter the column's name">
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>


</form>

<h2>{{createdDB}}</h2>